@model CustomersToEnterViewModel
@{
    ViewData["Title"] = "Welcome to Sit Shop Home";
}
<h1>@ViewData["Title"]</h1>

<form method="post">

    <div class="Panel">
        <div class="BlockInput">
            <label class="form-label mt-4"> Enter your login</label>
            <input asp-for="LoginEmail" class="form-control"/> 
            <span asp-validation-for="LoginEmail"></span>
        </div>
        <div class="BlockInput">
            <label class="form-label mt-4"> Enter your password</label>
            <input asp-for="Password" class="form-control"/> 
            <span asp-validation-for="Password"></span>
        </div>

        <div class="BlockButtons">
            <button class="btn btn-primary btn-lg" type="submit">Log In</button>
            <span>@ViewBag.NotFound</span>
        </div>
        <a asp-action="Registration">Not an account?</a>
    </div>
</form>


<style>
    span{
        color:red;
    }

    .BlockButtons{
        margin-top: 20px;
    }
</style>