@{
    ViewData["Title"] = $"Hello {ViewData["FullName"]}";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sti Shop Home</title>
</head>
<body background="orange">

    <div class="PopularProducts">

    </div>

    <div class="OtherProducts">

    </div>
</body>
</html>
