@model Shared.DataTransferObjects.CustomerForManipulationDTO 
@{
    ViewData["Title"] = "Registration";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="panel">
        <div class="blockInput">
            <label>Enter your name</label>
            <input type="text" asp-for="CustomerName"/>
        </div>

        <div class="blockInput">
            <label>Enter your surname</label>
            <input type="text" asp-for="CustomerSurname"/>
        </div>
        
        <div class="blockInput">
            <label>Enter your phone</label>
            <input type="text" asp-for="CustomerPhone"/>
        </div>

        <div class="blockInput">
            <label>Enter your email</label>
            <input type="text" asp-for="CustomerEmail"/>
        </div>

        <div class="blockInput">
            <label>Enter your Gender</label>
            <input type="text" asp-for="GenderId"/>
        </div>

        <div class="blockInput">
            <label>Enter your password</label>
            <input type="text" asp-for="CustomerPassword"/>
        </div>


        <div class="blockButtons">
            <button type="submit" class="btn btn-primary">Register</button>
            <button class="btn btn-secondary">Go Back</button>
        </div>

    </div>    
</form>